* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dimensioni {
    width: 100%;
    height: 600px;
}

.container {
    height: 400px;
    width: 300px;
    background-color: rgb(203, 202, 202);
    border-radius: 15px;
    margin: 10px;
}

/* CLASSI DI UTILITY */

.d-flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.col-direction {
    flex-direction: column;
}

/* FINE CLASSI DI UTILITY */

/* CSS TAG SECTION */

/* SEZIONE 1 */

.sezione1 {
    height: 20%;
    display: flex;
}

#testo1 {
    font-size: 200%;
    font-family: font-family: 'Seven Segment', sans-serif;
}

/* SEZIONE 2 */

.sezione2 {
    height: 20%;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
}

#testo2 {
    font-size: 300%;
    color: aquamarine;
    margin: 15px;
    font-family: "Roboto Mono", monospace;
}

/* SEZIONE 3 */

.sezione3 {
    height: 60%;
    display: flex;
    padding: 20px;
}

.square {
    height: 40px;
    width: 57px;
    background-color: rgb(135, 133, 133);
    border-radius: 10px;
    margin: 5px;
    border:  3px solid black ;
    border-top: 0;
    border-right: 0;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.squarearancio {
    height: 30px;
    width: 50px;
    background-color: rgb(228, 140, 7);
    border-radius: 10px;
    margin: 5px;
    border:  3px solid black ;  
    border-top: 0;
    border-right: 0; 
    color: white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.squareazzurro {
    height: 30px;
    width: 50px;
    background-color: rgb(7, 184, 228);
    border-radius: 10px;
    margin: 5px;
    border:  3px solid black ;
    border-top: 0;
    border-right: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.supersquare {
    height: 40px;
    width: 124px;
    background-color: rgb(135, 133, 133);
    border-radius: 10px;
    margin: 5px;
    border:  3px solid black ;
    border-top: 0;
    border-right: 0;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#arancio {
    height: 40px;
    width: 57px;
    background-color: rgb(250, 135, 3);
    border-radius: 10px;
    margin: 5px;
    border:  3px solid black ;
    border-top: 0;
    border-right: 0;
    font-size: 150%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* FINE CSS TAG SECTION */
