* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dimensioni {
    width: 100%;
    height: 600px;
}

.container {
    height: 400px;
    width: 300px;
    background-color: grey;
    border-radius: 15px;
    margin: 10px;
}

/* CLASSI DI UTILITY */

.d-flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* FINE CLASSI DI UTILITY */

/* CSS TAG SECTION */

/* SECTION 1 */

.sezione1 {
    height: 20%;
    display: flex;
}

#testo1 {
    font-size: 200%;
    font-family: font-family: 'Seven Segment', sans-serif;
}

/* SECTION 2 */

.sezione2 {
    height: 20%;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
}

#testo2 {
    font-size: 300%;
    color: aquamarine;
    margin: 15px;
    font-family: "Roboto Mono", monospace;
}

/* SECTION 3 */

.sezione3 {
    height: 60%;
    display: flex;
}


/* FINE CSS TAG SECTION */








